:root {
  --white: #FFF;
  --black: #000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  /* font-size: 62.5%; */
}

.product-detail {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  height: 50px;
  font-size: var(--md);
  font-weight: bold;
  cursor: pointer;
}

.my-order-content {
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
}

.title-container img{
  transform: rotate(180deg);
  margin-right: 14px;
}

.title {
  font-size: var(--lg);
  font-weight: bold;
}

.shopping-card {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}

.shopping-card figure{
  margin: 0;
}

.shopping-card figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-card p:nth-child(2) {
  color: var(--very-light-pink);
}

.shopping-card p:nth-child(3) {
  font-weight: bold;
  font-size: var(--md);
}

@media (max-width: 640px) {
  .product-detail {
    width: 100%;
  }
}